*.key
*.pem
*.pfx
*.p12
*.cer
*.crt

*_Encrypted.ini
*_Encrypted.bin
*.enc

*credential*.json
*credential*.xml
*credential*.txt
*secret*.key
*secret*.json
*secret*.txt
*password*.txt
*password*.xml

unattend.xml
Unattend.xml
ThinkPad_T14_Baseline.ini
Control.xml
manifest.json

*.log
*.txt.log
*.out

IT_Deployment_*/
C:\IT_Deployment_*/

Panther/
sysprep/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

/Modules/
/AppX/
test-drivers/*.log
test-drivers/*.txt
test-drivers/*.backup.json
/TODO/
